
*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: lightblue;
}
.timer{
    font-size: 30px;
}
h1 {
    margin: 10px;
    text-align: center;
    font-size: 50px;
}
p{ 
    text-align: center;
    font-size: 15px;
}
#start-screen {
    text-align: center;
}
#start{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    margin: 15px;
}
#questions{
text-align: center;
margin: 15px;
}
#questions-title{
    margin: 15px;
}
#question-title{
    font-size: 50px;
    margin: 15px;
}
.option{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    margin: 15px;
}
#end-screen{
    text-align: center;
}
#endscreen, h2{
    font-size: 40px;
}
#endscreen, p{
    font-size: 25px;
}
 button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    margin: 15px;
}
#initials{
    height: 25px;
}





.hide {
    display: none;
}